<!DOCTYPE HTML>

<html>
<head>
	<title>Welcome to Aram Haddad Page</title>
</head>

<body style="margin: 0">
	<h1 style="background-color: #ddd; color: #888; margin: 0 height: 50px"> Welcome to Aram Haddad Page</h1>

	<a href="http://mynotes-970.appspot.com/">Aram Haddad Notes</a>
	<br>
	<br>

	{% block content %}
	{% endblock %}

	<footer>
		<h2>Useful Links</h2>
		<p>
			<a href="https://www.udacity.com">Udacity University</a>
			<br>
			<a href="http://scratchpad.io/staking-beetle-6393">Scratchap</a>
			<br>
			<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference">CSS References</a>
			<br>
			<a href="http://stackoverflow.com/questions/2612483/whats-so-bad-about-in-line-css">Stack Over Flow</a>
			<br>
			<a href="https://github.com/">GitHub</a>
			<br>
			<a href="http://validator.w3.org/#validate_by_input">Validate your HTML</a>
			<br>
			<a href="http://jigsaw.w3.org/css-validator/#validate_by_input">Validate your CSS</a>
			<br>
			<a href="https://www.python.org/">Python</a>
		</p>
		<p>
			<a href="http://jigsaw.w3.org/css-validator/check/referer"> <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" /></a>
		</p>
	</footer>
</body>

</html>
